<div class="overHidden">
  <h1 class="floatLeft"><%= I18n.t("file") %>: <span class="finished"><%= @user_file.title %></span></h1>
  <a href="javascript: history.back();" class="floatRight backBut">Back &raquo;</a>
</div>
<% form_for :user_file, @user_file, :url => user_file_path, :html => { :method => :put }  do |form| %>
<ul class="tableForm toolsProfiles fileForm">
  <%= render :partial => 'form', :object => form %>
  <li class="borderNone">
    <%= submit_tag I18n.t("Save"), :class => "awesome " %>
  </li>
</ul>
<% end -%>
