<h1>
  <%=  I18n.t("edit_user") %>: <span class="finished">[<%= resource.email %>]</span>
</h1>

<% form_for @user, :url => user_path, :html => { :method => :put}  do |form| %>
<ul class="tableForm toolsProfiles">
  <%= render :partial => 'form', :object => form %>
  <li class="borderNone">
    <%= submit_tag I18n.t("Save"), :class => "awesome borderNone" %>
  </li>
</ul>
<% end -%>
