<%= content_tag :h1, I18n.t("add_user") %>
<% form_for @user,:url => users_path,  :html => { :method => :post }  do |form| %>
<ul class="tableForm toolsProfiles">
  <%= render :partial => 'form', :object => form %>
  <li class="borderNone">
    <%= submit_tag I18n.t("Save"), :class => "awesome borderNone" %>
  </li>
</ul>
<% end -%>
