<ul class="subMenu">
  <li>
    <%= link_to I18n.t("active_tasks"), tasks_path(:status => :active),
    :class => ('current' if params[:controller]["tasks"] && (session[:task_status]['active'] rescue false) && !params[:action][/new|create/] ) %>
  </li>
  <li>
    <%= link_to I18n.t("completed_tasks"), tasks_path(:status => :completed),
    :class => ('current' if params[:controller]["tasks"] && (session[:task_status]['completed'] rescue false) && !params[:action][/new|create/]) %>
  </li>
  <li>
    <%= link_to I18n.t("create_task"), new_task_path, :class =>('current' if params[:controller]["tasks"] && params[:action][/new|create/])  %></li>
</ul>
