<ul class="sub_menu">
  <li><%= link_to I18n.t("macros"), macros_path %></li>
  <li><%= link_to I18n.t("files"), user_files_path %></li>
  <li><%= link_to I18n.t("profiles"), profiles_path %></li>
  <li><%= link_to I18n.t("categories"), categories_path %></li>
</ul>
