<ul class="subMenu">
  <li><%= link_to I18n.t("macros"), macros_path,
          :class => ('current' if params[:controller]["macros"] ) %></li>
  <li><%= link_to I18n.t("files"), user_files_path,
          :class => ('current' if params[:controller]["user_files"]) %></li>
  <li><%= link_to I18n.t("profiles"), profiles_path,
          :class => ('current' if params[:controller]["profiles"]) %></li>
  <li><%= link_to I18n.t("categories"), categories_path,
           :class => ('current' if params[:controller]["categories"]) %></li>
</ul>
