<%= head_page "dashboard" %>
<div id="load_content">
<form class="categories" action="#" method="post">
<%= select_tag :category,options_for_select([[I18n.t("all_categories"),nil]]+Category.all.map{|x| [x.name, x.id]},
    session[:task_category].to_i), :class => "categories" %>
</form>

<%= render :partial => 'tasks/tasks', :object => @tasks %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $("#category").change(function(){
       var _url = "<%= dashboards_path(:format=> :js, :category => :id)%>";
       if ($(this).val()) { _url = _url.replace("id", $(this).val());
       } else { _url = _url.replace("id", "-1"); };
      $("#load_content").load(_url)
     });
   });
</script>
</div>
